# Ignore some common files
__pycache__/
AGENTS.md

# Ignore generator files
*.lhe
*.lhe.gz
*.hepmc
*.hepmc.gz
generation-superchic/logs/*
generation-superchic/output/*
bkg-generation/output/*
bkg-generation/logs/*
output/*
generation-superchic/workspace/*

# Ignore output files
*.root
*.log
*.txt
*.pdf
*.png
*.jpg
*.csv
*.dat
*.json
*.xml
*.zip
*.tar.gz
*.tar
*.tgz
*.out
*.err
*.npz
*.sub